@import url('./reset.css');

body {
    background-color: black;
}

.banner {
    height: 605px;
    border-bottom: 1px solid #33A8DB;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(49, 168, 221, .2), rgba(0, 0, 0, 0.6)), url('../images/banner.png') top/cover no-repeat;
    

}